body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
